################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/SCP1499/bin/Debug
/SCP1499/obj/Debug
/packages/StyleCop.Analyzers.1.1.118
